@model IEnumerable<Follower>

<h2>Users followed by @($"{Model.First().FollowerNavigation.FirstName} {Model.First().FollowerNavigation.LastName}")</h2>
<div>
    <img src="@Model.First().FollowerNavigation.ProfileUrl" />
</div>
<br />
<table>
    <thead>
        <tr>
            <th style="width:25%">Username</th>
            <th style="width:25%">FirstName</th>
            <th style="width:25%">LastName</th>
            <th style="width:25%">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td style="width:25%">@user.User.Username</td>
                <td style="width:25%">@user.User.FirstName</td>
                <td style="width:25%">@user.User.LastName</td>
                <td style="width:25%">
                    <a href="@Url.Action("Details", "User", new { id = user.User.UserId })">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
@* <a href="@Url.Action("Index", "User")">Return</a> *@
<a href="javascript:window.history.back();">Return</a>