@model User

<h2>User</h2>

<div class="container mt-4">
    <div class="row profile-header">
        <div class="col-md-2 text-center profile-pic">
            <img src="@Model.ProfileUrl" alt="Profile Picture" class="profile-pic">
        </div>
        <div class="col-md-10">
            <div class=" mb-3">
                <h3 class="me-3"><strong>@Model.FirstName  @Model.LastName</strong></h3>
                <h4 class="me-3">Username: <strong>@Model.Username</strong></h4>
                <h4 class="me-3">Email: <strong>@Model.Email</strong></h4>
            </div>
            <div class="bio">
                <h4>Bio</h4>
                <p>@Model.Bio</p>
            </div>
        </div>
    </div>
</div>
<a href="javascript:window.history.back();" style=" text-decoration: none; color: #0095f6;">Return</a>
