@model User

<h2>User</h2>

<div class="container mt-4">
    <div class="row profile-header">
        <div class="col-md-2 text-center profile-pic">
            <img src="@Model.ProfileUrl" alt="Profile Picture" class="profile-pic">
        </div>
        <div class="col-md-10">
            <div class=" mb-3">
                <h3 class="me-3"><strong>@Model.FirstName  @Model.LastName</strong></h3>
                <h4 class="me-3"><strong>@Model.Username</strong></h4>
            </div>
            <div class="stats mb-3">
                <span>Posts: 123</span>
                <span>Followers: 1.2M</span>
                <span>Following: 456</span>
            </div>
            <div class="bio">
                <h3>Bio</h3>
                <p>@Model.Bio</p>
                <p><a href="@Url.Action("Index", "User")" style="text-decoration: none; color: #0095f6;">Return</a></p>
            </div>
        </div>
    </div>
</div>
