@model IEnumerable<User>

<h2>Users</h2>
<div>
    <img src="~/images/users.png" alt="Users"  />
</div>
<br />
<table>
    <thead>
        <tr>
            <th style="width:25%">Username</th>
            <th style="width:25%">FirstName</th>
            <th style="width:25%">LastName</th>
            <th style="width:25%">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td style="width:25%">@user.Username</td>
                <td style="width:25%">@user.FirstName</td>
                <td style="width:25%">@user.LastName</td>
                <td style="width:25%">
                    <a href="@Url.Action("Details", "User", new { id = user.UserId })">Details</a> |
                    <a href="@Url.Action("Followers", "Follower", new { id = user.UserId })">Followers</a> |
                    <a href="@Url.Action("Following", "Follower", new { id = user.UserId })">Following</a> |
                    <a href="@Url.Action("Posts", "User", new { id = user.UserId })">Posts</a> |
                    <a href="@Url.Action("Stories", "User", new { id = user.UserId })">Stories</a>
                </td>
            </tr>
        }
    </tbody>
</table>