@model IEnumerable<User>

<h2>Users</h2>
<div>
    <img src="~/images/users.png" alt="Users"  />
</div>
<br />
<table>
    <thead>
        <tr>
            <th style="width:25%">Username</th>
            <th style="width:25%">FirstName</th>
            <th style="width:25%">LastName</th>
            <th style="width:25%">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width:25%">@item.Username</td>
                <td style="width:25%">@item.FirstName</td>
                <td style="width:25%">@item.LastName</td>
                <td style="width:25%">
                    <a href="@Url.Action("Details", "User", new { id = item.UserId })">Details</a> |
                    <a href="@Url.Action("Followers", "User", new { id = item.UserId })">Followers</a>
                    <a href="@Url.Action("Following", "User", new { id = item.UserId })">Following</a>
                    <a href="@Url.Action("Posts", "User", new { id = item.UserId })">Posts</a>
                    <a href="@Url.Action("Stories", "User", new { id = item.UserId })">Stories</a>
                </td>
            </tr>
        }
    </tbody>
</table>