@model IEnumerable<User>

<h2>Users</h2>
<div>
    <img src="~/images/users.png" alt="Users"  />
</div>
<br />
<table class="table table-borderless">
    <thead>
        <tr>
            <th style="width:20%">Username</th>
            <th style="width:20%">FirstName</th>
            <th style="width:20%">LastName</th>
            <th style="width:40%">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td style="width:20%">@user.Username</td>
                <td style="width:20%">@user.FirstName</td>
                <td style="width:20%">@user.LastName</td>
                <td style="width:40%">
                    <a class="btn btn-success btn-sm" href="@Url.Action("Details", "User", new { id = user.UserId })">Details</a> |
                    <a class="btn btn-secondary btn-sm" href="@Url.Action("Followers", "Follower", new { id = user.UserId })">Followers</a> |
                    <a class="btn btn-secondary btn-sm" href="@Url.Action("Following", "Follower", new { id = user.UserId })">Following</a> |
                    <a class="btn btn-secondary btn-sm" href="@Url.Action("Posts", "Post", new { id = user.UserId, isStory = false })">Posts</a> |
                    <a class="btn btn-secondary btn-sm" href="@Url.Action("Posts", "Post", new { id = user.UserId, isStory = true })">Stories</a>
                </td>
            </tr>
        }
    </tbody>
</table>